.chat-screen {
	width: 100%;
}

	.chat-screen .member-area {
		float: right;
		background-color: #ddd;
		width: 200px;
		position: relative;
		height: 100%;
		text-align: center;
		font-weight: bold;
		color: #273621;
		font-size: 18px;
	}

		.chat-screen .member-area p {
			width: 100%;
			margin-left: 100%;
		}
