.outer-box {
		width: 332px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-top: 100px;
	}
		
		.outer-box .register-box {
			border: solid 1px silver;
			padding: 15px;
			width: 300px;
		}
		
			.outer-box .register-box .login-head {
				color: #555;
				font-size: 28px;
				margin-bottom: 15px;
			}
			
			.outer-box .register-box .name-input {
				height: 35px;
				line-height: 28px;
				font-size: 25px;
				color: grey;
			}
			
		.outer-box .confirm-name-area {
			background-color: silver;
			width: 100%;
			height: 0px;
		}
		
			.outer-box .confirm-name-area .confirm-name {
				font-size: 24px;
				text-decoration: none;
				color: white;
				display: none;
			}