html {
	font-family: sans-serif;
}

.top-bar {
	width: 100%;
	height: 50px;
	background-color: silver;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 5px;
	display: block;
}

	.top-bar .app-head {

	}